@import "../../../base";

.button {
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 10px 42px;
  outline: none;
}

/** colors **/

.button--color-primary {
  background-color: $color-primary;

  &:active {
    background-color: darken($color-primary, 10%);
  }
}

.button--color-grayed {
  background-color: $color-grayed;
}

.button--color-danger {
  background-color: $color-danger;

  &:active {
    background-color: darken($color-danger, 10%);
  }
}

.button--color-default {
  background-color: $color-default;

  &:active {
    background-color: darken($color-default, 10%);
  }
}

.button--color-transparent {
  background-color: transparent;
  color: $color-default;
}

/** variants **/

.button--variant-outlined {
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button--variant-outlined.button--color-primary {
  border: 2px solid $color-primary;
  color: $color-primary;

  &:active {
    background-color: lighten($color-primary, 50%);
  }
}

.button--variant-outlined.button--color-danger {
  border: 2px solid $color-danger;
  color: $color-danger;

  &:active {
    background-color: lighten($color-danger, 35%);
  }
}

.button--variant-outlined.button--color-default {
  border: 2px solid $color-default;
  color: $color-default;

  &:active {
    background-color: lighten($color-default, 60%);
  }
}

.button--variant-text {
  background-color: transparent;
}

.button--variant-text.button--color-primary {
  color: $color-primary;

  &:active {
    background-color: lighten($color-primary, 50%);
  }
}

.button--variant-text.button--color-danger {
  color: $color-danger;

  &:active {
    background-color: lighten($color-danger, 35%);
  }
}

.button--variant-text.button--color-default {
  color: $color-default;

  &:active {
    background-color: lighten($color-default, 60%);
  }
}

/** disabled **/

.button--disabled {
  cursor: default;
}

.button--disabled.button--color-primary {
  background-color: #d9d9d9;
  color: #929292;
}

.button--disabled.button--color-danger {
  background-color: lighten($color-danger, 20%);
}

.button--disabled.button--color-default {
  background-color: lighten($color-default, 40%);
}

.button--disabled.button--color-primary.button--variant-outlined,
.button--disabled.button--color-primary.button--variant-text {
  background-color: transparent;
  border-color: lighten($color-primary, 35%);
  color: lighten($color-primary, 35%);
}

.button--disabled.button--color-danger.button--variant-outlined,
.button--disabled.button--color-danger.button--variant-text {
  background-color: transparent;
  border-color: lighten($color-danger, 20%);
  color: lighten($color-danger, 20%);
}

.button--disabled.button--color-default.button--variant-outlined,
.button--disabled.button--color-default.button--variant-text {
  background-color: transparent;
  border-color: lighten($color-default, 20%);
  color: lighten($color-default, 20%);
}

/** full width **/

.button--full-width {
  width: 100%;
}
