@include Tablet{
    .CustomerInfo-Name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & label {
            padding: 0px;
        }
    }
    .CustomerInfo-Email{
        display: flex;
        justify-content: center;
        & label {
            padding: 0px;
        }
    }
}
@include Large-Laptop{
  
}