.CustomerInfo-Grid {
    display: flex;
    flex-flow: column;
    padding: 2rem 4rem;
}    

.CustomerInfo-Email, .CustomerInfo-Name {
    box-sizing: border-box;
}

@include Phone {
    .CustomerInfo-Email {
        margin-top: 0;  
    }
}

@include Tablet{
    .CustomerInfo-Email, .CustomerInfo-Name {
        display: flex;
        justify-content: stretch;
        & label {
            padding: 0px;
        }
    }
}

@include Large-Laptop{
  
}