
.TimeSlot-AvailableGrid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-areas: "box1 . box2";
    overflow: auto;

}
.TimeSlot-TimeAvailable{
    grid-area: box1;
    font-size: 15px;
    color: $color-primary-blue;
    display: block;
}
.TimeSlot-SpotAvailable{
    font-size: 12px;
    margin-top: 1px;
    font-weight: 500;
}
.TimeSlot-SelectBtn{
    grid-area: box2;
    background-color: $color-primary-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    width: 5rem;
    padding: 7px;
    font-size: 15px;
    &:hover{
      cursor: pointer;
    }

}
@include Tablet{
    .TimeSlot-TimeAvailable{
        display: inline;
    }
    .TimeSlot-SpotAvailable::before{
        content: " | "
    }
}

