.TimeSlot-Container {
    margin-bottom: 1.2rem;
}

.TimeSlot-AvailableGrid {
    margin-top: 0.2rem;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.TimeSlot-Action, .TimeSlot-Details {
    display: flex;
    flex: 1 1 0px;
    margin: 0;
}

.TimeSlot-Action {
    justify-content: flex-end;
}

.TimeSlot-Details {
    justify-content: flex-start;
    align-items: center;
    line-height: 15px;
}

.TimeSlot-TimeAvailable {
    font-size: 1rem;
    color: $color-primary-blue;
    display: block;

    &::after {
        color: black;
        content: "\00a0\00a0|";
        top: -1px;
        position: relative;
    }
}

.TimeSlot-SpotAvailable {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.TimeSlot-SpotAvailable.SoldOut {
    color: $color-error-red;
}

.TimeSlot-SelectBtn {
    background-color: $color-darker-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    min-width: 6rem;
    max-width: 200px;
    padding: 7px 25px;
    font-size: 14px;
    &:hover{
      cursor: pointer;
    }

}

.TimeSlot-SelectBtn:disabled {
    background-color: $color-bright-blue;
    cursor: not-allowed;
}

@include Phone {
    .TimeSlot-Container {
        margin: 0;
    }
    .TimeSlot-Action, .TimeSlot-Details {
        justify-content: center;
    }
    .TimeSlot-Details {
        align-items: center;
        flex-flow: column;
    }
    .TimeSlot-SelectBtn {
        max-height: 35px;
        padding: 7px;
    }

    .TimeSlot-AvailableGrid {
        padding: 13px 0px;
        margin-top: 0px;
        border-bottom: 1px solid #dfdfdf;
    }
    .TimeSlotsHeader {
        padding-bottom: 1rem;
    }
    .TimeSlot-TimeAvailable {
        display: inline;

        &::after {
            display: none;
        }
    }
}

@include Tablet {
    .TimeSlot-TimeAvailable {
        display: inline;
    }
}

