.TimeSlot-DateSelected{
    text-align: center;
    font-size: .7rem;
    display: block;
    margin: -.5rem 0 3rem 0;
}

.TimeSlots-NextAvailableBtn{
    background-color: $color-primary-blue;
    border: none;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 9rem;
    padding: 7px;
    font-size: .8rem;
    &:hover{
        cursor: pointer;
    }
}

.TimeSlots-NotAvailable {
    text-align: center;
    height: 100%;
    & p {
        font-size: 12px;
        margin: 10px;
    }
}
.SelectedDateContainer {
    position: relative;
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.template-product {
    margin: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .TimeSlot-DateSelected {
        margin: 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    .product__title-container {
        padding: 20px 0px;
        text-align: center;
    }

    .product__title-container__tagline {
        text-align: center;
        width: 100%;
    }

    .product__section-container {
        padding: 0rem;
    }
}

@include Tablet{
    .TimeSlots-NotAvailable {
        padding-top: 4rem;
    }
    .TimeSlot-DateSelected{
        transform: translateY(7rem);
    }
}
@include Laptop{
    .TimeSlots-NotAvailable {
        padding-top: 5rem;
    }
    .TimeSlot-DateSelected{
        transform: translateY(8rem);
    }
}
@include Large-Laptop{
    .TimeSlots-NotAvailable{
        padding-top: 7rem;
    }
    .TimeSlot-DateSelected{
        transform: translateY(10rem);
    }
}

