.TimeSlotsHeader{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}
@include Phone{
    .TimeSlotsHeader {
        font-weight: normal;
        margin-bottom: 0px;
        border-bottom: 1px solid #dfdfdf;
    }
}
@include Tablet{
    .TimeSlotsHeader{
        padding-top: 3.4rem; 
    }
}