.TimeSlot-DateSelected{
    text-align: center;
    display: block;
    font-size: 1.1rem;
}

.TimeSlotsHeader-Container {
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

.TimeSlots-Container {
    padding: 0 1.5rem;
    max-height: 65%;
    overflow-y: auto;
}

.TimeSlots-Container::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    height: 10%;
}

.TimeSlots-NextAvailableBtn{
    background-color: $color-darker-blue;
    border: none;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 9rem;
    padding: 7px;
    font-size: .8rem;
    &:hover{
        cursor: pointer;
    }
    &:disabled {
        background-color: $color-bright-blue;
        cursor: not-allowed;
    }
}

.TimeSlots-NotAvailable {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    & p {
        font-size: .8rem;
        margin: 10px;
        opacity: .8;
    }
}
.SelectedDateContainer {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
}   

.SelectedDateContainer > .TimeSlots {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.template-product {
    margin: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .AvailabilityPage-TimeSlotContainer {
        margin: 1rem 0;

        &::after {
            display: none;
        }
    }

    .TimeSlot-DateSelected {
        margin: 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    .product__title-container {
        padding: 20px 0px;
        text-align: center;
    }

    .product__title-container__tagline {
        text-align: center;
        width: 100%;
    }

    .product__section-container {
        padding: 0rem;
    }

    .TimeSlots-Container {
        max-height: unset;

        &::after {
            display: none;
        }
    }
}


