.TimeSlot-Container {
    margin-bottom: 1.5rem;
}

.TimeSlot-AvailableGrid {
    margin-top: 0.2rem;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.TimeSlot-Action, .TimeSlot-Details {
    display: flex;
    flex: 1 1 0px;
    margin: 0;
}

.TimeSlot-Action {
    justify-content: flex-end;
}

.TimeSlot-Details {
    justify-content: flex-start;
    line-height: 15px;
}

.TimeSlot-TimeAvailable {
    font-size: 15px;
    color: $color-primary-blue;
    display: block;
}

.TimeSlot-SpotAvailable {
    font-size: 12px;
    font-weight: 500;
}

.TimeSlot-SelectBtn {
    background-color: $color-darker-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    min-width: 6rem;
    max-width: 200px;
    padding: 7px 25px;
    font-size: 13px;
    &:hover{
      cursor: pointer;
    }

}

@include Phone {
    .TimeSlot-Action, .TimeSlot-Details {
        justify-content: center;
    }
    .TimeSlot-Details {
        align-items: center;
        flex-flow: column;
    }
    .TimeSlot-SelectBtn {
        max-height: 35px;
        padding: 7px;
    }

    .TimeSlot-AvailableGrid {
        padding: 10px 0px;
        margin-top: 0px;
        border-bottom: 1px solid #dfdfdf;
    }
    .TimeSlotsHeader {
        padding-bottom: 1rem;
    }
}

@include Tablet {
    .TimeSlot-TimeAvailable {
        display: inline;
    }
    .TimeSlot-SpotAvailable::before {
        content: "\00a0\00a0|\00a0\00a0"
    }
}

