.VariantContainer {
    padding: 1.3rem 1.5rem 2rem 1.5rem;
    overflow: auto;
    max-height: 100%;

    > div::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
        height: 10%;
    }

    &.BottomPadding {
        > div::after {
            bottom: 2.8rem;
        }
    }

    &.BottomGradient {
        > div::after {
            content: '';
        }
    }
}
.VariantListTotal {
    position: absolute;
    z-index: 1000;
    width: 87%;
    background: white;
    bottom: -.4rem;
}
.VariantListTotal-Label, .VariantListTotal-Value {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}
.VariantListTotal-Action {
    margin: .1rem 0 .1rem 0;
    grid-area: box3;
    display: flex;
    justify-content: center;
}
.VariantListTotal-ConfirmBtn{
    background-color: $color-darker-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    min-width: 6rem;
    font-size: 15px;
    padding: .5rem;
    &:hover{
      cursor: pointer;
    }
    &.asDisabled {
        pointer-events: none;
        background-color: $color-gray;
        color: $color-white;
    }
}
.VariantListTotal-QtyMessage {
    padding: 0 0 2.5rem 0;
    font-size: .7rem;
    color: rgb(119, 119, 119);
    text-align: center;
}
@include Phone {
    .VariantContainer { 
        padding: 0rem;
        max-height: unset;

        > div::after {
            content: none;
        }

        &.BottomGradient {
            > div::after {
                content: none;
            }
        }
    } 
    .VariantContent, .VariantListTotal {
        padding: 0 2rem;
    }
    .VariantListTotal-QtyMessage {
        padding-top: 3rem;
        padding-bottom: 3.5rem;
    }
    .VariantListTotal {
        width: 100%;
        bottom: 0;
    }
    .AvailabilityPage-TimeSlotContainer {
        overflow: unset;
    }
}