.VariantHeader-Container {
   text-align: center;
}

.VariantHeader-BackBtn {
    border: none;
    background: none;
    color: $color-primary-blue;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
    font-weight: 600;
}
.VariantHeader-DateSelected {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    display: block;
    margin: 1rem 0 .5rem 0;
}
#VariantHeader-StartTime {
    font-size: 15px;
    color: $color-primary-blue;
}
#VariantHeader-SpotsAvaliable {
    font-size: 12px;
    margin-top: 1px;
    font-weight: 600;
}

@include Phone { 
    .VariantHeader-BackBtn {
        display: none;
    }

    .VariantHeader-MobileContainer {
        padding: 1rem;
        background-color: #F5F5F5;
    }

    .VariantHeader-DateSelected {
        margin: 0px;
    }
}
