.Variant-Grid {
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "box1 . box2";
}
.Variant-AddBtn{
    grid-area: box2;
    margin-top: -3px;
    background: $color-white $color-gradient-gray;
    border: 1px solid $color-gray;
    border-radius: 3px;
    text-align: center;
    width: 6rem;
    margin: 15% 0 15% 0;
    font-size: 15px;
    padding: .5rem;
    height: 2rem;
    &:hover{
        cursor: pointer;
    }
}
#Variant-Details{
    grid-area: box1;
}
#Variant-Details>span{
    margin: .2rem 0;
}
.Variant-Age {
    padding-right: 10px;
    display: block;
}
.Variant-Price{
    margin-top: 1px;
    color: #696969;
}
.Variant-QtyContainer{
    grid-area: box2;
    width: 100%;
    align-content: center;
    text-align: center;
}
.Variant-QtyBtn{
    border-radius: 50%;
    width: 1.4rem;
    vertical-align: middle;
    border: 1px solid $color-gray;
    background-color: white;
    text-align: center;
    margin: 0 .5rem 0 .5rem;
    line-height: 1.4rem;
    padding: 0px;
    &.disabled {
        opacity: .3;
    }
    &:hover{
        cursor: pointer;
      }
}
@include Tablet {
    .Variant-Age {
        display: inline;
    }
}

@include Phone {
    .Variant-Grid {
        padding: 0 2rem;
        margin-top: 0px;
        border-bottom: 1px solid #dfdfdf;
        align-items: center;
    }

    .VariantListTotal-Grid {
        padding: 1.5rem 2rem;
        margin-top: 0px;
        align-items: center;
    }
}
