.Variant-Grid, .VariantListTotal-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "box1 box2 box3";
    height: 3.2rem;
}
.Variant-Age, .Variant-Price {
    display: flex;
    justify-content: flex-start;
}
.Variant-QtySelector, .VariantListTotal-Action {
    display: flex;
    justify-content: flex-end;
}
.Variant-AddBtn{
    grid-area: box3;
    margin-top: -3px;
    background: $color-white $color-gradient-gray;
    border: 1px solid $color-gray;
    border-radius: 3px;
    text-align: center;
    min-width: 6rem;
    font-size: 14px;
    overflow: hidden;
    padding: 4px 10px;
    height:2rem;
    &:hover{
        cursor: pointer;
    }
    &.asDisabled{
        pointer-events: none;
        opacity: .5;
    }
}
.Variant-Age {
    padding-right: 10px;
    display: block;
}
.Variant-Price{
    margin-top: 1px;
    color: #696969;
}
.Variant-QtyContainer{
    grid-area: box3;
}
.Variant-QtyBtn{
    border-radius: 50%;
    width: 1.4rem;
    vertical-align: middle;
    border: 1px solid $color-gray;
    background-color: white;
    text-align: center;
    line-height: 1.4rem;
    padding: 0px;
    &.asDisabled {
        pointer-events: none;
        opacity: .5;
    }
    &:hover{
        cursor: pointer;
      }
}
.Variant-Qty {
    display: inline-block;
    width: 3rem;
    text-align: center;
}
@include Tablet {
    .Variant-Age {
        display: inline;
    }
}

@include Phone {
    .Variant-Grid {
        padding: 0;
        margin-top: 0px;
        border-bottom: 1px solid #dfdfdf;
        align-items: center;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .VariantListTotal-Grid {
        padding: 1rem 0;
        margin-top: 0px;
        align-items: center;
        grid-template-columns: 2fr 1fr 1fr;
    }
}
