@import "../../sass/variables";

.Calendar-NoEvents {
  text-align: center;
}

.CalendarAggregateView-GoToNextAvailableBtn {
  background: $color-primary-blue;
  width: 100%;
  max-width: 220px;
  margin: 30px 0 15px 0;
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
  padding: 7px;
  font-size: 1rem;
  &:hover{
    cursor: pointer;
  }
}