.calendar-event-list-details {
  display: flex;
  align-content: center;

  .featured-image {
    display: flex;
    margin-right: 1rem;
  }

  img {
    height: 45px;
    width: auto;
    min-width: 45px;

    @include Tablet {
      height: 65px;
      width: auto;
      min-width: 65px;
    }
  }

  .event-description {
    color: #666666;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div:first-child {
      font-weight: 700;
    }
  }
}

.calendar-event-a:hover {
  text-decoration: none;
}