.Calendar-EventList-Details {
  display: flex;
  align-content: center;

  .FeaturedImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 1rem;

    @include Tablet {
      width: 65px;
      height: 65px;
    }
  }

  img {
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
  }

  .EventDescription {
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div:first-child {
      font-weight: 700;
    }
  }
}

.Calendar-Event-Link:hover {
  text-decoration: none;
}