.AvailabilityList {
  padding-top: rem(30);

  .AvailabilityList-MonthName {
    color: #919eab;
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(24);
    letter-spacing: rem(1);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border-bottom: rem(1) solid $gray;
  }

  .AvailabilityList-ShowMore {
    color: #4a90e2;
    cursor: pointer;
    font-size: rem(16);
    padding: rem(20);
    text-align: center;

    &.asDisabled {
      color: #666;
      cursor: default;
      pointer-events: none;
    }
  }
}