@import "../../../base";

.dialog,
.dialog__content {
  transition: all 0.4s ease;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.dialog--open {
  visibility: visible;
  opacity: 1;

  .dialog__content {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.dialog__content {
  display: inline-block;
  max-width: 459px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.dialog__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.dialog__title__close-button {
  cursor: pointer;
}

.dialog__message {
  margin-bottom: 51px;
}

.dialog__actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
