@import "../../../base";

.dialog {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 9999;
  transition: all 0.4s ease-in-out;
}

.dialog.ReactModal__Overlay--after-open {
  opacity: 1;
}

.dialog.ReactModal__Overlay--before-close {
  opacity: 0;
}

.dialog__root {
  display: inline-block;
  max-width: 459px;
  position: absolute;
  outline: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.4s ease-in-out;
}

.dialog__root.ReactModal__Content--after-open {
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog__root.ReactModal__Content--before-close {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.dialog__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.dialog__title__close-button {
  cursor: pointer;
}

.dialog__message {
  margin-bottom: 51px;
}

.dialog__actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
