@font-face {
  font-family: "Avenir-Book";
  src: url("dist/assets/AvenirLTStd-Book.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("dist/assets/AvenirLTStd-Medium.otf") format("opentype");
  font-weight: 600;
}

/*
Uncomment these if needed. Not importing to save bundle size

@font-face {
  font-family: "Avenir-Heavy";
  src: url("dist/assets/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir-Black";
  src: url("dist/assets/AvenirLTStd-Black.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("dist/assets/AvenirLTStd-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir-Oblique";
  src: url("dist/assets/AvenirLTStd-Oblique.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("dist/assets/AvenirLTStd-Roman.otf") format("opentype");
  font-weight: 600;
}
 */