$color-primary-blue: #4A90E2;
$color-darker-blue: #007ACE;
$color-white: rgb(240,240,240);
$color-gradient-gray: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(254,255,255,1) 83%);;
$color-gray: rgb(180, 180, 180);