@import "../../../base";

$title-bar-height: 68px;

.wizard-modal {
  position: fixed;
  inset: 0px;
  z-index: 10000;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}

.wizard-modal.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}

.wizard-modal.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100%);
}

.wizard-modal__root {
  position: absolute;
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  inset: 0;
  border: none;
}

.wizard-modal__close-button {
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 40px;
}

.wizard-modal__title-bar {
  background: #fff;
  height: $title-bar-height;
  box-shadow: 0px 4px 8px rgba(15, 41, 58, 0.1);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.wizard-modal__title-bar__back-button {
  position: absolute;
  top: 18px;
  left: 10px;

  button {
    padding: 5px 10px;
  }
}

.wizard-modal__body {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 20px;
}

@media (max-width: 854px) {
  .wizard-modal {
    display: flex;
    flex-direction: column;
  }

  .wizard-modal__close-button {
    display: none;
  }

  .wizard-modal__title-bar {
    display: flex;
  }

  .wizard-modal__body {
    padding: 20px;
    margin: 0;
    margin-top: $title-bar-height;
  }
}
