@import "../../../base";

.wizard-modal {
  color: $color-default;
  font-family: "Montserrat";
  background-color: #fff;
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease;
}

.wizard-modal--open {
  top: 0;
}

.wizard-modal__close-button {
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.wizard-modal__title-bar {
  background: #fff;
  height: 68px;
  box-shadow: 0px 4px 8px rgba(15, 41, 58, 0.1);
  display: none;
  align-items: center;
  justify-content: center;
}

.wizard-modal__title-bar__back-button {
  position: absolute;
  top: 18px;
  left: 10px;

  button {
    padding: 5px 10px;
  }
}

.wizard-modal__body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 30px;
  padding-top: 60px;
}

@media (max-width: 854px) {
  .wizard-modal {
    display: flex;
    flex-direction: column;
  }

  .wizard-modal__close-button {
    display: none;
  }

  .wizard-modal__title-bar {
    display: flex;
  }

  .wizard-modal__body {
    padding: 20px;
    overflow-y: scroll;
    flex: 1;
    margin: 0;
  }
}
