.AvailabilityPage {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.AvailabilityPage-DatePickerContainer{
    position: relative;
    width: 100%;
    background-color: rgb(238, 238, 238); 
    overflow: hidden;
}
.AvailabilityPage-TimeSlotContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
}
.MobileView-Header {
    padding: 1rem;
    font-weight: bold;
    background-color: #ffffff;
    position: inherit;
    & p {
        color: black;
        text-align: center;
        width: 100%;
    }
}

.product__display-grid__col1 .product__display-grid__divider {
    border-top: 1px solid #dfdfdf;
    margin: 20px 0;
}

.social-sharing a {
    margin-right: 5px;
    border: none;

}

.btn--share .icon {
  fill: #3d4246;
}

// hide titles under share buttons
.social-sharing .share-title { 
    display: none;
}

.social-sharing {
    border-top: 1px solid #dfdfdf;
    margin: 20px 0;
}

#MobileView-CloseBtn {
    border-radius: 25px;
    border: none;
    background-color: $color-primary-blue;
    color: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    float: right;
    font-size: 1.2rem;
    text-align: center;
}

@include Phone {
    .exp__host-details-container {
        flex-direction: column;
    }
    .product__display-grid__host-image {
        margin: 10px 0px;
    }
    .exp__host-desc-container {
        padding-left: 0px;
    }
}
@include Tablet{
    .AvailabilityPage{
        height: 100%;
        flex-flow: row;
    }
    .AvailabilityPage-DatePickerContainer {
        border: none;
        border-right: 3px solid lightgray;
        background-color: white;
    }
    .MobileView-Header {
        display: none;
    }
}

