.Item {
  border-bottom: rem(1) solid $gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: rem(20);
  flex-wrap: wrap;

  &:nth-child(odd) {
    background: rgb(249, 250, 251);
  }

  .Item-Photo {
    width: rem(80);
    height: rem(80);
    border-radius: rem(5);
    background-size: cover;
    position: relative;
    @media (max-width: $mobile) {
      width: rem(60);
      height: rem(60);
    }
  }

  .Item-Date {
    position: absolute;
    line-height: 1.25;
    top: 0;
    left: 0;
    width: rem(36);
    height: rem(40);
    padding: rem(7) rem(5) rem(5) rem(5);
    color: white;
    text-align: center;
    border-top-left-radius: rem(5);
    background-color: rgba(33, 43, 54, 0.75);
    font-size: rem(10);
    font-weight: 600;
    letter-spacing: rem(1);
  }

  .Item-Desc {
    padding-left: rem(20);
    .Item-DescTitle {
      color: $dark-blue;
      font-size: rem(18);
      font-weight: 600;
      line-height: rem(24);
      margin: 0;
    }
    .Item-DescCost {
      margin: 0;
      color: #637381;
      font-size: rem(14);
      font-weight: 500;
    }
  }

  .Item-GoTo {
    margin-left: auto;
    @media (max-width: $mobile) {
      margin-top: rem(15);
      //magic
      margin-right: calc(100% - 67%);
    }
  }
}