@import "../../../base.scss";

.timeslot-selection {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.timeslot-selection__legend {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.timeslot-selection__legend-container {
  margin-left: 5px;

  & > span:first-child {
    margin-right: 16px;
    color: lighten($color-default, 40%);
    position: relative;
  }
}

.timeslot-selection__legend-container:first-of-type {
  /** Add strikethrough to sold out event legend label. */
  & > span:first-child:after {
    content: "";
    border-bottom: 2px solid lighten($color-default, 40%);
    position: absolute;
    left: -2px;
    width: 140%;
    bottom: 9px;
  }
}
.timeslot-selection__no-availability {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40vh;
  text-align: center;
}

.timeslot-selection__no-availability > svg {
  margin-right: 0;
  margin-bottom: 2rem;
}

.timeslot-selection__no-availability > button {
  width: min-content;
  text-decoration: underline;
  width: min-content;
  margin-top: 1rem;
  color: $color-primary;
  padding: 0;
}

.timeslot-selection__no-availability > button > span {
  color: $color-primary;
}

.timeslot-selection__no-availability > * {
  margin-bottom: 1rem;
}

.timeslot-selection__calendar {
  width: 350px;
  position: fixed;

  .calendar {
    margin-top: 50px;
  }
}

.timeslot-selection__timeslot-list {
  width: 460px;
  flex: 1;
  position: absolute;
  right: 0;
  padding: 0 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  .timeslot-group {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

.timeslot-selection__calendar-button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;
  }
}

@media (max-width: 854px) {
  .event-title,
  .timeslot-selection__timeslot-list__margin,
  .timeslot-selection__calendar {
    display: none !important;
  }

  .timeslot-selection {
    flex-direction: column;
    margin-top: 20px;
  }

  .timeslot-selection__timeslot-list {
    max-width: none;
    width: 100%;
    position: static;
    overflow-y: unset;
    padding: 0;

    .timeslot-group {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
