.FormField-RenderInput{
    position: relative;
    width: 100%;
    padding: 0.5rem 1.5rem;
    text-align: left;
    box-sizing: border-box;
}
.FormField-Input{
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
}

.FormField-Label{
    opacity: 0.5;
    z-index: 2;
}

.FormField-Input::placeholder{
    color: transparent;
}
input.FormField-Input:focus::placeholder,
input.FormField-Input:valid::placeholder{
    color: black;
}
.FormField-SelectLabel{
    display: block;
    opacity: .5;
}
.FormField-RenderSelect select{
    border: none;
    border-bottom: 2px solid lightgray;
    padding: 1rem 0 .3rem 0;
    margin: 0 auto;
    outline: none;
    opacity: .5;
}
.CustomForm-Container{
    margin-bottom: 1rem;
    padding: 1rem;
    overflow: auto;
}

@include Phone {
    .CustomForm-Container{
        text-align: center;
    }
    .FormField-RenderInput {
        display: flex;
        flex-flow: column;
        padding: 1rem 0;
        
        input {
            height: 1.5rem;
        }
    }
    
}

@include Tablet{
    .FormField-Label{
        padding: 0px;
        left: 1rem;
        margin: 0;
    }
    .FormField-RenderInput input{
        border: 2px solid lightgray;
        padding: .5rem;
        width: 100%;
    }
    input[type=email]{      
        width: 100%;
    }
    .FormField-Container{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        & label{
            left: 10%;
        }
    }

}