.FormField-RenderInput{
    position: relative;
    margin: 1rem 0 1.5rem 0;
}
.FormField-Input{
    border: none;
    border-bottom: 2px solid lightgray;
    width: 70%;
    outline: none;
}
.FormField-Label{
    position: absolute;
    opacity: 0.5;
    z-index: 2;
    left: 15%;
    margin: 1.2rem;
}

.FormField-Input::placeholder{
    color: transparent;
}
input.FormField-Input:focus::placeholder,
input.FormField-Input:valid::placeholder{
    color: black;
}
.FormField-SelectLabel{
    display: block;
    opacity: .5;
}
.FormField-RenderSelect select{
    border: none;
    border-bottom: 2px solid lightgray;
    width: 70%;
    padding: 1rem 0 .3rem 0;
    margin: 0 auto;
    outline: none;
    opacity: .5;
}
.CustomForm-Container{
    margin-bottom: 1rem;
    padding: 1rem;
    overflow: auto;
}

@include Phone {
    .CustomForm-Container{
        text-align: center;
    }
}

@include Tablet{
    .FormField-Label{
        padding: 0px;
        left: 6%;
        margin: 0;
    }
    .FormField-RenderInput input{
        border: 2px solid lightgray;
        padding: .5rem;
        width: 20rem;
        margin: 1rem;
    }
    input[type=email]{      
        width: 42rem;
    }
    .FormField-Container{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        & input[type=email]{
            width: 20rem;
        }
        & select{
            width: 20rem;
        }
        & label{
            left: 10%;
        }
    }

}