.Modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    padding: 10% 0%;
    &__ModalContentBoxOrderDetails {
        max-width: 800px;
        box-shadow: -2px 2px 32px -8px #7e7e7e;
        max-height: unset;
        height: none;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;    
    }
    &__ModalContentBox {
      max-width: 800px;
      box-shadow: -2px 2px 32px -8px #7e7e7e;
      max-height: 500px;
      height: 100%;
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 5px;
      margin: 0 auto;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      .Modal-ModalMainContentBox {
        flex: 1;
        background-color: #fff;
      }
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @include Tablet {
    .Modal {
        &__ModalContentBox, &__ModalContentBoxOrderDetails {
            max-width: 90vw;
        }
    }
  }

  @include Phone {
    .Modal {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        position: fixed;
        background-color: rgba(0,0,0,.7);
        padding: 0px;
        &__ModalContentBox, &__ModalContentBoxOrderDetails {
          width: 100vw;
          height: 100vh;
          max-height: none;
          max-width: none;
          position: relative;
          overflow-y: scroll;
          border-radius: 0px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
    
          .Modal-ModalMainContentBox {
            flex: 1;
            overflow: auto;
            padding: 0px;
          }
        }
      }
}