
.Exp__App_Modal {
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -250px;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2000;
    position: absolute;
    &__ModalContentBoxOrderDetails, &__ModalContentBox {
        -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 5px;
        margin: 0 auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        .Modal-ModalMainContentBox {
            flex: 1;
            background-color: #fff;
          }
    }
    &__ModalContentBoxOrderDetails {
        max-width: 800px;
        max-height: unset;
        height: auto;  
    }
    &__ModalContentBox {
      max-width: 800px;
      max-height: 362px;
      height: 100%;
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @include Tablet {
    .Modal {
        &__ModalContentBox, &__ModalContentBoxOrderDetails {
            max-width: 90vw;
        }
    }
  }

  @include Large-Laptop{
    .Modal {
        &__ModalContentBox {
            max-width: 1000px;
        }
    }
  }

  @include Phone {
    .Exp__App_Modal {
        top: 0;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        padding: 0px;
        &__ModalContentBox, &__ModalContentBoxOrderDetails {
          width: 100vw;
          height: 100vh;
          max-height: none;
          max-width: none;
          position: relative;
          overflow-y: auto;
          border-radius: 0px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
    
          .Modal-ModalMainContentBox {
            flex: 1;
            overflow: auto;
            padding: 0px;
          }
        }
      }
}