.Select {
  & > .Select-Label {
    font-size: rem(12);
  }

  & > select {
    background-color: transparent;
    border: 0;
    margin-left: rem(7);
    font-size: rem(16);
    -webkit-appearance: none;
  }
}