.FullPage__form--disabled {
  opacity: 0.5;
}

.FullPage__form__title {
  padding-bottom: 31px;
}
.FullPage__form-fields {
  display: flex;
  flex-direction: column;
}

.FullPage__form__header-rule {
  margin-top: 42px;
  border-top: 1px solid #d1d1d1;
}

.FullPage__form__submit {
  margin-top: 42px;
}
