@import "../../../sass/variables";

.CustomerInfo{
    text-align: center;
    height: 100%;
    padding: 50px 0;
    background-color: white;
    font-family: sans-serif;
}
.CustomerInfo-ErrorMessage {
    color: #c93131;
}
.CustomerInfo-SubmitBtn{
    background-color: $color-primary-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    min-width: 6rem;
    padding: 7px 20px;
    font-size: 15px;
    margin-top: 1rem;
    &:hover{
      cursor: pointer;
    }
}
.CustomerInfo-FinalizeOrder{
    font-weight: bold;
}
#CustomerInfo-BackBtn{
    float: left;
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    transform: translateY(-5px);
    font-size: 1.5rem;
    color: rgb(158, 158, 158);
}
#CustomerInfo-CloseBtn{
    float: right;
    border-radius: 25px;
    border: none;
    background-color: $color-primary-blue;
    color: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 1rem;
    transform: translateY(-3px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
}
.CustomerInfo-EventDetails{
   background-color:  rgb(238, 238, 238); 
   padding: 2rem;
   font-weight: 600;
   margin-top: 1rem;
}
.OrderDetails-EventDetails{
    font-weight: 500;
}
.CustomOrderDetails{
    padding: 1rem;
    text-align: center;
}
.CustomOrderDetails-Header{
    text-align: center;
    background-color: rgb(238, 238, 238); 
    height: 20%;
    padding: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
}
.Cu-DateSelected {
    text-align: center;
    font-size: 1.1rem;
    display: block;
    margin: 1rem 0 .5rem 0;
}

.CustomOrderDetails-Ticket{
    font-size: 1.5rem;
}
.CustomOrderDetails-VariantName{
    display: block;
}

.CustomOrderDetails-SubmitBtn {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    & button {
        font-size: 15px;
        background-color: $color-primary-blue;
        border: none;
        border-radius: 3px;
        color: $color-white;
        text-align: center;
        min-width: 7.5rem;
        max-width: 10rem;
        padding: 7px;
        font-size: 15px;
        &:hover{
          cursor: pointer;
        }
        &:disabled {
            background-color: $color-bright-blue;
            pointer-events: none;
        }
    }

    &.centered {
        justify-content: center;
    }
}

.CustomOrderDetials-RequiredWarning {
    text-align: center;
    margin-top: -1rem;
}

@include Phone {
    .CustomOrderDetails-SubmitBtn {
        max-width: 100%;
        padding: 1rem;
    }
    .CustomerInfo {
        padding: 1rem 0rem;
    }
    .CustomerInfo-VariantDetails {
        display: flex;
        flex-flow: column;
    }
}

@include Tablet {
    .CustomerInfo-FinalizeOrder button, #CustomerInfo-EventName, #CustomerInfo-CloseBtn {
        display: none;
    }
    .CustomerInfo-FinalizeOrder{
        font-size: 2rem;
    }
    .CustomerInfo-EventDetails{
        background-color: white;
        padding: 0;
        margin-top: 0;
    }
    .CustomOrderDetails-Header {
        background-color: #ffffff;
    }

    .CustomerInfo-DateSelected {
        text-align: center;
        font-size: 1.1rem;
        display: block;
        margin: 1rem 0 .5rem 0;
    }
    .CustomerInfo-StartTime {
        display: inline;
    }
    .OrderDetails-EventDetails::before {
        content: "\00a0\00a0|\00a0\00a0"
    }
}
