@import "../../../base.scss";
$image-width: 54px;
$image-right-margin: 16px;
$title-max-width: 322px;
$column-gutter-width: 75px;
$left-column-width: 427px;

.OrderDetails__Input {
  font-family: "Montserrat", "San Serif";
}

.OrderDetails__Input {
  width: 460px;
  margin-left: auto;
}

.OrderDetails__Summary {
  height: max-content;
  position: fixed;
}

.OrderDetails__Summary__Back {
  cursor: pointer;
  margin-left: -12px;
  width: max-content;

  &:hover {
    background-color: #ececec;
    border-radius: 50%;
  }
}
.OrderDetails__Summary__Back > * {
  padding: 6px 12px !important;
}
.OrderDetails__Header-Rule {
  display: none;
  margin-top: 42px;
  margin-bottom: 42px;
  border-top: 1px solid #d1d1d1;
}

.OrderDetails__Overview {
  margin-top: 44px;
  margin-right: 75px;
  animation: fade ease 1s;
  -webkit-animation: fade ease 1s;
  -moz-animation: fade ease 1s;
  -ms-animation: fade ease 1s;
}

@media only screen and (max-width: $full-page-single-column-breakpoint) {
  .OrderDetails__Summary {
    position: relative;
    left: 0;
    width: 100%;
  }

  .OrderDetails__Input {
    width: 100%;
    margin-left: 0;
  }

  .OrderDetails__Header-Rule {
    display: block;
  }

  .OrderDetails__Overview {
    display: none;
  }
}

.OrderDetails__Summary__Image {
  width: $image-width;
  height: $image-width;
  margin-right: $image-right-margin;
  object-fit: cover;
  border-radius: 5px;
  background-color: #424242;
  margin-top: 26px;
  margin-bottom: 12px;
}

.OrderDetails__Summary__Time-Slot {
  margin-top: 12px;
}

.OrderDetails__Summary__Title {
  max-width: $title-max-width;
  margin-bottom: 46px;
}

/* Apply margin to middle element in time slot detail list.*/
.OrderDetails__Summary__Time-Slot > span:nth-child(2) {
  margin: 0 8px;
}

.OrderDetails__Input__Customer-Form--disabled {
  opacity: 0.5;
}

.OrderDetails__Input__Customer-Form__Submit {
  margin-top: 42px;
}

.OrderDetails__Input__Customer-Form__Title {
  padding-bottom: 31px;
}

.OrderDetails__Input__Quantity-Selection {
  margin-bottom: 42px;
}

.OrderDetails__Button {
  margin-top: 42px;
  margin-bottom: 90px;
}

.CustomOrder {
  display: flex;
  flex-direction: column;
}

.CustomOrder__Description {
  margin-top: 31px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.OrderDetails__Overview__Values {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-bottom: 8px;
}
.OrderDetails__Overview__Values__Total {
  justify-self: flex-end;
}

.OrderDetails__Overview__Total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 854px) {
  .OrderDetails__Summary__Back {
    display: none;
  }
}
