$image-width: 54px;
$image-right-margin: 16px;
$title-max-width: 322px;
$column-gutter-width: 100px;

.OrderDetails__Input {
  font-family: "Montserrat", "San Serif";
}

.OrderDetails__Input {
  width: 460px;
  margin-left: $image-width + $image-right-margin + $title-max-width +
    $column-gutter-width;
}

.OrderDetails__Summary {
  height: max-content;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 990px) {
  .OrderDetails__Summary {
    position: relative;
  }

  .OrderDetails__Input {
    width: 100%;
    margin-left: 0;
  }
}

.OrderDetails__Summary__Image {
  width: $image-width;
  height: $image-width;
  margin-right: $image-right-margin;
  object-fit: cover;
}

.OrderDetails__Summary__Time-Slot {
  margin-top: 22px;
}

.OrderDetails__Summary__Title {
  max-width: $title-max-width;
  margin-bottom: 50px;
}

/* Apply margin to middle element in time slot detail list.*/
.OrderDetails__Summary__Time-Slot > span:nth-child(2) {
  margin: 0 8px;
}

.OrderDetails__Input__Customer-Form {
  margin-top: 42px;
}

.OrderDetails__Input__Customer-Form--disabled {
  opacity: 0.5;
}

.OrderDetails__Input__Customer-Form__Submit {
  margin-top: 42px;
}

.OrderDetails__Input__Customer-Form__Title {
  padding-bottom: 31px;
}

.OrderDetails__Header-Rule {
  margin-top: 42px;
  border-top: 1px solid #d1d1d1;
}

.OrderDetails__Button {
  margin-top: 42px;
  margin-bottom: 90px;
}

.CustomOrder {
  display: flex;
  flex-direction: column;
}

.CustomOrder__Description {
  margin-top: 31px;
}

#CustomOrder-Details {
  margin-top: 31px;
}
