.OrderDetails {
  display: flex;
  flex-direction: row;
}

.OrderDetails__Input {
  width: 460px;
}

.OrderDetails__Input__Customer-Form {
  margin-top: 42px;
}
.OrderDetails__Input__Save {
  margin-top: 42px;
}
