.ConfirmPage {
    text-align: center;
    padding: 2rem;
}

.ConfirmPage-Btn {
    margin-top: 1rem;
    background-color: $color-primary-blue;
    border: none;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    width: 6rem;
    padding: 7px;
    font-size: 15px;
    &:hover {
      cursor: pointer;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ConfirmPage {
    word-wrap: break-word;
  }

  .ConfirmPage-Email {
    padding: 10px 0px;
  }

  .ConfirmPage-Email span {
    color: #007ace;
  }
}
